# ESP32-C3 SuperMini defaults
# 禁用 WPA3 SAE
# CONFIG_ESP_WIFI_ENABLE_WPA3_SAE is not set
# CONFIG_ESP_WIFI_ENABLE_SAE_H2E is not set
# CONFIG_ESP_WIFI_ENABLE_SAE_PK is not set
# CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT is not set
# CONFIG_ESP_WIFI_ENABLE_WPA3_OWE_STA is not set
# CONFIG_ESP_WIFI_WPA3_COMPATIBLE_SUPPORT is not set

# 禁用 AMPDU
# CONFIG_ESP_WIFI_AMPDU_TX_ENABLED is not set
# CONFIG_ESP_WIFI_AMPDU_RX_ENABLED is not set

# 启用 SoftAP（用于 Web 配置模式）
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# 禁用 STA 断开省电
# CONFIG_ESP_WIFI_STA_DISCONNECTED_PM_ENABLE is not set

# Flash 4MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# 分区表
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# FreeRTOS
CONFIG_FREERTOS_HZ=100
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# SPIFFS
CONFIG_SPIFFS_SUPPORT=y
CONFIG_SPIFFS_CACHE=y
CONFIG_SPIFFS_MAX_PARTITIONS=1

# WiFi SSID/PASS
CONFIG_ESURF_WIFI_SSID="No Study Come Play1"
CONFIG_ESURF_WIFI_PASSWORD="1234567890"
